@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #e2e8f0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
